turbine-py==1.7.1

# Deltatable/delta lake libraries
deltalake==0.6.4
pandas==1.5.2

# Record enhancement example
requests==2.28.2

# Sentry.io Monitoring 
sentry-sdk==1.13.0

# Test Data generation
psycopg==3.1.8
faker==16.0.0
